name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  rust:
    name: Rust
    uses: ./.github/workflows/rust.yml
    secrets: inherit

  test:
    name: Test
    uses: ./.github/workflows/test.yml
