name: Web

permissions:
  contents: write

on:
  workflow_dispatch:
  pull_request:
    paths:
      - docs/**

  push:
    branches:
      - stable
      - main

concurrency:
  group: web-${{ github.ref }}
  cancel-in-progress: true

jobs:
  web:
    name: Build and deploy site and docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: false
          persist-credentials: false
      - name: Setup mdBook
        uses: jontze/action-mdbook@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          use-linkcheck: true
          use-mermaid: true
          use-toc: true

      - name: Build mdbook
        run: mdbook build docs

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        if: ${{ github.event_name == 'push' }}
        with:
          branch: gh-pages
          folder: docs/book
          token: ${{ secrets.GITHUB_TOKEN }}
          single-commit: true
